@import url('setup.css');

/* Main content */

.main-content {
  position: relative;
  width: 100%;
  height: 93.3vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background>video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background>video::-webkit-media-controls {
  display: none;
}

.background>video::-webkit-media-controls-enclosure {
  display: none !important;
}

.background>video::-webkit-media-controls-overlay-play-button {
  display: none !important;
}

.background>video::-webkit-media-text-track-container {
  display: none !important;
}

.background>video::-webkit-media-text-track-display {
  display: none !important;
}

.content__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content__container>div {
  width: 100%;
}

.content__container-header_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  height: 40%;
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

.header_txt:nth-child(1)>h1 {
  animation-delay: 0.6s;
}

.header_txt:nth-child(2)>h1 {
  animation-delay: 1.2s;
}

.header_txt:nth-child(3)>h1 {
  animation-delay: 1.8s;
}

.header_txt>h1 {
  font-size: 100px;
  color: #fff;
  font-family: 'Assassin', sans-serif;
  font-weight: 600;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInFromLeft 1s ease-in-out forwards;
  letter-spacing: 5px;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.4),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 10px rgba(0, 0, 0, 0.5);
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Media Queries */

/* For screens 768px and above */
@media screen and (max-width: 768px) {
  .main-content {
    height: 93.3vh;
  }

  .background>img {
    height: 100%;
  }

  .content__container {
    display: flex;
    justify-content: center;
  }

  .content__container>div {
    width: 100%;
    justify-content: center;
  }

  .content__container-header_txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    height: 25%;
    position: relative;
    text-align: center;
    top: 30%;
    transform: translateY(-30%);
  }

  .header_txt:nth-child(1)>h1 {
    animation-delay: 0.6s;
  }

  .header_txt:nth-child(2)>h1 {
    animation-delay: 1.2s;
  }

  .header_txt:nth-child(3)>h1 {
    animation-delay: 1.8s;
  }

  .header_txt>h1 {
    font-size: 60px;
    color: #fff;
    font-family: 'Assassin', sans-serif;
    font-weight: 600;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInFromLeft 1s ease-in-out forwards;
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .separation__bar {
    height: 2rem !important;
  }
}

/* For screens 425px and below */
@media only screen and (max-width: 425px) {
  .content__container {
    flex-direction: column;
  }

  .background>video {
    display: none;
  }

  .background {
    background-image: url('../image//odyssey/mobile_image_firstpager.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content__container-header_txt {
    order: 1;
    height: auto;
    padding: 1rem;
    text-align: center;
  }

  .header_txt>h1 {
    font-size: 40px;
    margin-bottom: 1rem;
  }

  .content__container-story {
    order: 2;
    margin-top: 2rem;
  }

  .separation__bar {
    height: 2.5rem !important;
  }
}

/* Second page */

.SecondPage {
  height: 100vh !important;
  width: 100%;
  background-image: url(../image//odyssey/backgroundpage2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SecondPage__Headertxt>h3 {
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 10px rgba(0, 0, 0, 0.5);
}

.chooseCharacter__MainSection {
  position: relative;
  margin-top: 5rem;
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.card-title {
  font-size: 35px;
  font-weight: 600;
}

.card-text {
  font-size: 18px;
  color: #000;
}

.card {
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #333;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card:hover::before {
  opacity: 1;
}

.message-box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
  left: 50%;
  width: max-content;
  transform: translateX(-50%) translateY(-60%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.4);
}

.card:hover .message-box {
  opacity: 1;
  transform: translateX(-50%) translateY(-60%);
}

@media screen and (max-width: 768px) {
  .chooseCharacter__MainSection {
    width: 100%;
  }

  .SecondPage__Headertxt {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .SecondPage {
    height: 115vh !important;
  }

  .SecondPage__Headertxt>h3 {
    font-size: 45px;
    margin: 0;
    padding: 0;
  }

  .chooseCharacter__MainSection {
    flex-direction: column;
    align-items: center !important;
    justify-content: space-evenly;
    margin: 1rem !important;
    height: 80%;
  }

  .left_Section,
  .right_Section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: fit-content;
  }

  .left_Section {
    transform: translateY(25%);
  }

  .card {
    width: 60% !important;
    height: 70% !important;
    background-color: #fff !important;
  }

  .card-body {
    padding: 1.25rem;
  }

  .card>img {
    height: 40% !important;
  }

  .card-title {
    font-size: 23px;
  }

  .card-text {
    font-size: 18px;
  }
}

/* Third page */


.ThirdPage {
  height: 100vh;
  width: 100%;
  background-image: url(../image//odyssey/athene_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.ThirdPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.ThirdPage__Headertxt>h3 {
  padding: 2rem;
  margin-top: 5rem;
  font-size: 120px;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 0 rgba(0, 0, 0, 0.3),
    3px 3px 10px rgba(0, 0, 0, 0.5);
}

.ThirdPage__text {
  width: 70%;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Assassin', sans-serif;
  color: #fff;
  text-align: center;
  line-height: 2.2rem;
  padding: 2rem;
  z-index: 2;
}

.ThirdPage__text_mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .ThirdPage__Headertxt>h3 {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 75px;
  }

  .ThirdPage__text {
    width: 90%;
    height: 60%;
  }
}

@media screen and (max-width: 425px) {
  .ThirdPage__Headertxt>h3 {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 50px;
  }

  .ThirdPage__text {
    display: none;
  }

  .ThirdPage__text_mobile {
    display: block;
    font-weight: bolder;
    font-family: 'Assassin', sans-serif;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    padding: 0.5rem;
    font-size: 30px;
    z-index: 2;
  }

  .entryQuote_steam {
    display: none;
  }
}

/* Fourth Page */

.FourthPage {
  width: 100%;
  height: 100vh;
  background-color: #212529;
}

.carousel-item {
  width: 100%;
  height: 100vh;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.carousel-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}


.carousel-item>img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.carousel-caption h5 {
  font-size: 4rem !important;
  font-weight: 600 !important;
}

.carousel-caption p {
  font-size: 3rem !important;
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

/* For screens below 768px */
@media (max-width: 768px) {
  .carousel-item {
    height: 100vh !important;
    max-height: none !important;
    width: 100% !important;
    max-width: none !important;
  }

  .carousel-item img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
  }

  .carousel-caption {
    bottom: 10% !important;
    transform: none;
  }

  .carousel-caption h5 {
    font-size: 6vw !important;
    margin-bottom: 1rem !important;
  }

  .carousel-caption p {
    font-size: 3vw !important;
    margin-bottom: 1rem !important;
  }
}

/* For screens below 425px */
@media (max-width: 425px) {
  .carousel-caption h5 {
    font-size: 5vw !important;
  }

  .carousel-caption p {
    font-size: 2.5vw !important;
  }
}