@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    font-family: 'Fjalla One', sans-serif !important;
}

nav {
    position: relative !important;
    z-index: 999;
    width: 100%;
    margin-bottom: 2.5rem;
}

.navbar-nav {
    justify-content: flex-end;
}

.navbar-brand>h2 {
    margin-left: 0.5rem !important;
    margin-bottom: 1rem !important;
    font-size: 2em;
    color: #fff;
}

.navbar-nav .nav-item {
    margin-left: 15px;
    padding: 0 10px !important;
}

.nav-item>a {
    color: #fff !important;
}

.nav-item>a:hover {
    color: #7e7e7e !important;
}

body {
    background-color: #333 !important;
    color: white !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: max-content !important;
    min-height: 100vh !important;
    height: max-content !important;
    width: fit-content !important;
    margin: 0 10px !important;
    text-align: center !important;
    overflow-x: hidden !important;
}

.container {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    grid-gap: 20px !important;
    padding: 25px !important;
    background-color: #444 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    margin: 1rem !important;
    margin-top: 2.5rem !important;
}

.card {
    display: block !important;
    background-color: white !important;
    text-align: center !important;
    padding: 20px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    width: 100% !important;
}

.card img {
    width: 160px !important;
    height: auto !important;
    object-fit: cover !important;
    margin-bottom: 20px !important;
}

.card h3 {
    margin-top: 0 !important;
    font-size: 24px !important;
    font-weight: bolder !important;
    color: #333 !important;
}


.card p {
    margin-bottom: 0 !important;
    color: #333 !important;
}

.bottom_txt {
    margin-top: 1rem;
    font-size: 1.2em;
    padding: 0 1rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.header_txt {
    padding: 1rem;
    margin-top: 2.5rem !important;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.employee_section {
    position: relative;
    width: 100%;
    background: #7e7e7e;
    min-height: 250px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    background: rgb(126, 126, 126);
    background: linear-gradient(180deg, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.employee_section h2 {
    font-size: 3em;
    font-weight: bolder;
    color: #444;
    color: #444444;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.employee_section .wave {
    position: absolute;
    margin-top: 0;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/image/wave.png);
    background-size: 1000px 100px;
    filter: grayscale(1);
}

.employee_section .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
}

main {
    width: 100% !important;
    height: fit-content;
    background: #fff;
}

.container_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.employee:hover {
    transform: scale(1.050);
}

.employee img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.employee h2 {
    margin: 0;
    color: #333;
}

.employee p {
    margin-top: 0;
    margin-bottom: 10px;
    font-style: italic;
    color: #333;
}

footer {
    position: relative;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    padding: 20px 50px;
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
}

.newsletter {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.newsletter input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
}

.newsletter button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.newsletter button[type="submit"]:hover {
    background-color: #ccc;
}

.footer_header {
    position: absolute;
    max-width: 1200px;
    margin: 10px auto;
    left: 50%;
    transform: translateX(-50%);
}

.container_footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin: 0 5px;
}

.contact_us {
    padding: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ccc;
}

p {
    margin: 0;
}

@media (max-width:1250px) {

    footer {
        height: fit-content;
        padding: 5px !important;
    }

    .footer_header {
        padding: 10px;
        width: 40%;
    }

    .footer_header>h3 {
        font-size: 1.5em !important;
    }
}

@media (max-width: 768px) {
    .container_footer {
        flex-direction: column;
        text-align: center;
    }

    ul {
        margin-bottom: 10px;
    }

    li {
        margin-right: 10px;
    }
}


@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(3, 1fr) !important;
    }

    .newsletter {
        display: none;
    }

    .contact_us {
        display: none;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container_footer {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: auto;
    }

    .container_footer>ul {
        margin: 0;
    }

    .footer_header {
        position: relative;
        margin: 0;
        padding: 5px;
        margin-right: auto;
    }
}

@media (max-width: 425px) {
    .container {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(6, 1fr) !important;
    }

    .bottom_txt {
        padding: 0.5rem !important;
        text-align: center !important;
        word-wrap: break-word !important;
    }

    .employee_section>h2 {
        font-size: 2.5em !important;
    }

    .container_footer {
        font-size: 0.7em;
        margin-bottom: 5px;
    }

    .footer_header {
        font-size: 1em;
        width: 90%;
    }
}